[Unit]
Description=Collector Service

[Service]
Type=simple
ExecStart=/etc/collector/collector /etc/collector/configs/collector.json
User=root

[Install]
WantedBy=multi-user.target
