[Unit]
Description=Collector Service

[Service]
Type=simple
ExecStart=/bin/collector /etc/collector/collector_cfg.json
User=root

[Install]
WantedBy=multi-user.target
